.off {
    display: none !important;
}

.playerDetails {
    height: 50vh;
    width: 50vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.buttonPlay {
    display: inline-block;
    padding: 14px 50px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: rgb(139, 139, 139);
    border: none;
    border-radius: 1px;
    box-shadow: 0 9px#474747;
    margin: 0px 15px;
}

.buttonPlay:hover {
    background-color: #555555
}

.buttonPlay:active {
    background-color: #555555;
    box-shadow: 0 5px #363636;
    transform: translateY(5px);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.homePageImages {

    display: flex;
    align-content: center;
    justify-content: center;
    vertical-align: baseline;
    font-size: 130px;
}

.homePageH2 {
    margin: 0;
}

.bullsandcows {
    text-align: center;
    font-size: 75px;
    flex-grow: 1;
}

.scene_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.homePageH2 {
    margin: 0;
}

.winningLabels {
    text-align: center;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.confirmButton {
    width: 36px;
    height: 36px;

}

.buttonOptions button {
    /*display: flex;
    justify-content: end;
    align-items: baseline;*/
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 15px 100px;
}

.playerInput {
    text-align: center;
    display: flex;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(251, 170, 141);
}

.errorLabel {
    text-align: center;
    font-size: small;
    color: darkred;
}

.inputPlayerName {
    height: 30px;
    border-width: 2px;
}

.inputPlayerNumber {
    height: 30px;
    border-width: 1px;

}

.howToPlay {
    width: 30px;
    height: 30px;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(233, 107, 4, 0.945);
    border: 2px solid;
    padding: 0.25em 0.5em;
    box-shadow: 2px 2px 0px 0.2px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

.detailsPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.endGame {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 170, 141);
    height: 100vh;
    width: 100vw;
}

form.playerDetailsScene {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
}


.closeButton {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 5px;
    right: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.continueButton {
    position: absolute;
    right: 50px;
    bottom: 0;
}

body {
    margin: 0;
    font-family: 'Special Elite', cursive, 'Times New Roman', Times, serif;
    letter-spacing: 2px;

}

.btn-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 5px;
}

.howToPlay {
    position: absolute;
    top: 0;
    right: 5px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.sketchy {
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;

}


.howToPlayModal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.historyNumbers {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    left: 10px;
    padding: 5px;
    background: white;
}
