.playerDetails {

    display: flex;
    align-content: center;
    justify-content: center;

}
.bullsandcows {
    text-align: center;
    font-size: 75px;
}


.winningLabels {
    text-align: center;
}

.confirmButton {
    width: 36px;
    height: 36px;

}

.buttonOptions button {
    /*display: flex;
    justify-content: end;
    align-items: baseline;*/
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 15px 100px;
    background-color: beige;
}

div {
    text-align: center;
}


.errorLabel {
    text-align: center;
    font-size: small;
    color: blue;
    margin-bottom: 20%;
}

.inputPlayerName {
    height: 30px;
    border-width: 2px;
}

.inputPlayerNumber {
    height: 30px;
    border-width: 2px;
}

.howToPlay {
    width: 30px;
    height: 30px;

}

.detailsPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.endGame {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
}


.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
}
.continueButton {
    position: absolute;
    right: 50px;
    bottom: 0;
}